---
// import Layout from '@layouts/MainLayout.astro';
// import Header from '@partials/HeaderMain.astro';
// import Footer from '@partials/FooterMain.astro';

// import { getCollection } from 'astro:content';
// import MarkdownTeasLayout from '../../layouts/MarkdownTeasLayout.astro';

// export async function getStaticPaths() {
//   const blogEntries = await getCollection('teas');
//   return blogEntries.map(entry => ({
//     params: { slug: entry.slug }, props: { entry },
//   }));
// }

// const { entry } = Astro.props;
// const { Content } = await entry.render();
// ---

// <Layout title='Наші чаї'>
// 	<Header />

// 	<main class='py-12'>
// 		<div class='container prose prose-lg'>

// 		</div>
// 	</main>

// 	<Footer />
// </Layout>