---
import Layout from '@layouts/MainLayout.astro';

import Header from '@partials/HeaderMain.astro';
import Footer from '@partials/FooterMain.astro';
import TeaPost from '@partials/TeaPost.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const teas = await getCollection('teas');
	const uniqueTags = [...new Set(teas.map((tea) => tea.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredTeas = teas.filter((tea) => tea.data.tags.includes(tag));
		return {
			params: { tag },
			props: { teas: filteredTeas },
		};
	});
}

const { teas } = Astro.props;
---

<Layout title='Чайна Хатинка' description='#'>
	<Header />

	<main class='py-12'>
		<div class='container'>
			<ul class='not-prose grid gap-12'>
				{
					teas.map((tea) => (
						<li>
							<TeaPost props={tea} />
						</li>
					))
				}
			</ul>
		</div>
	</main>

	<Footer />
</Layout>
