---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Про нас";
const containerMaxWidth = "87%";
---

<BaseLayout {pageTitle} {containerMaxWidth}>
    <h1>{pageTitle}</h1>
    <p>
        Ми дуже раді бачити вас у нашій Чайній Хатинці – "Хатинці Чайного Мудреця"! Тут на вас чекає підбірка статей на чайну тематику, у яких глибше розглядаються наша Традиція, чайне мистецтво та майстерність Ґонфу Ча. Також на цих сторінках ви знайдете багато інформації про наші улюблені чаї і фармерів, які їх вирощують. Иноді збираються охочі поспілкуватися на ці теми, і ми залюбки влаштовуємо семінари й майстер-класи. Інформацію про них ви також можете побачити на сторінці нашої групи у фейсбуці чи в інстаграмі. Ну й, звісно ж, на вихідних, а инколи й посеред тижня, ми організовуємо різні види чаювань, щоби розділити з вами Гармонію і Спокій разом із тією Мудрістю і Цілющістю, що дарує нам Чай. Хотілося б робити це ще частіше, але поки що можливості наші обмежені. Тож ось ваша чаша з чаєм, скуштуйте…
    </p>
    <p>
        Трішечки розкажемо про себе. Ми є спільнота людей, яких об’єднує любов до Природи й до Чаю – Її яскравого та мудрого представника, що являється для нас не тільки смачним і запашним напоєм, серцем компанії, а й Проводирем, Напутником на нашому життєвому Шляху. Ча Дао — так давні китайці називали ставлення до Життя через Чай. Прислуховуючись до його простої, та разом із тим глибокої Мудрости, вони накопичували й використовували її у своєму побуті. Так само як і вони, ми заради Присутности й Пробудження збираємо краплі життєдайних осяєнь, що містить у собі кожна чашка, і через Чистоту й Повагу прямуємо до Гармонії і Спокою — до щастя, якого шукає кожна людина у Всесвіті.
    </p>
    <p>
        Як маєте бажання, то просто напишіть нам...
    </p>
    <p>&nbsp;</p>
    <p style="text-align: right;">Цінуйте кожну хвилину свого життя, воно таке швидкоплинне.<br />Ніщо більше не повториться! Адже, як кажуть японці: «Це єдина зустріч у житті».</p>
    <p style="text-align: right;">З Повагою і Любов'ю,</p>
    <p style="text-align: right;">"Чайна Хатинка",<br />Майстерня Чаю і Дао</p>
    <div style="display: flex; justify-content: end;">
        <img style="display: block;" src="/images/teakettle.gif" alt="Малюнок чайника й чашки" />
    </div>
</BaseLayout>

<style>
    h3 {
        margin-bottom: 2rem;
    }
    
    p {
        margin-bottom: 1rem;
    }
</style>