---
import Layout from '@layouts/MainLayout.astro';
import Header from '@partials/HeaderMain.astro';
import Footer from '@partials/FooterMain.astro';

import Post from '@partials/Post.astro';

const allPosts = await Astro.glob('./posts/*.md');
---

<Layout title='divDevSpace' description='Блог створенний для того, щоб ділитись з вами своїми знаннями та досвідом'>
	<Header />

	<main>
		<section>
			<div class='container'>
				<div class='md:space-y-5 space-y-2 pb-8 pt-6'>
					<h1
						class='md:text-4xl md:leading-10 lg:text-6xl md:leading-14 text-3xl leading-9 tracking-tight text-gray-900 dark:text-gray-100 font-Rubik'>
						Блог
					</h1>
					<p class='text-lg leading-7 text-gray-500 dark:text-gray-400'>
						Створенний для того, щоб ділитись з вами своїми знаннями та досвідом.
					</p>
				</div>

				<ul class='divide-y divide-gray-200 dark:divide-gray-700'>
					{allPosts.map((post) => <Post post={post} />)}
				</ul>
			</div>
		</section>
	</main>

	<Footer />
</Layout>
