---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Чайна Хатинка";
const containerMaxWidth = "900px";
---

<BaseLayout {pageTitle} {containerMaxWidth}>
    <h1>{pageTitle}</h1>
		<h3>"Хатинка Чайного Мудреця"</br>вітає вас!</h3>
        <p>
            Кожен із нас шукає своєї досконалости так, як він її розуміє, залежно від того знання і контексту, який він чи вона отримали за своє життя, та від того, що в нього закладено Природою...
        </p>
        <p>
            Ми, як і багато хто до нас, шукаємо Довершености у своєму житті через Чай – через ту Традицію, підвалини якої було закладено дуже давно. Ми не намагаємося відкрити щось нове, досі невідоме. Навпаки, за допомогою простих метод ми глибше занурюємось у навколишнє, у те, що маємо саме цієї миті. Якщо Надзвичайне й існує, воно мусить бути тут і зараз...
        </p>
        <p>
            Наш Шлях до Досконалости, Шлях Чаю ("Ча Дао", "Тя До", як його називають на Сході), пов'язаний зі звичним для людини процесом пиття – приготуванням і вживанням однієї з найдавніше відомих лікарських рослин у Світі. Мета цього – найкраща чашка чаю, що містить у собі Пробудження і Присутність для кожного з нас. Перед Природою і перед Чаєм, Її часточкою, ми всі рівні. Як то кажуть: "Стара хвіртка до Мудрости завжди відкрита. Дзен не має дверей..."
        </p>
</BaseLayout>

<style>
    h3 {
        margin-bottom: 2rem;
    }
    
    p {
        margin-bottom: 1rem;
    }
</style>