---
import BaseHead from "../components/BaseHead.astro";

const title = "Чайна Хатинка | Читальня";
---

<html lang="uk">
	<BaseHead {title}/>
    <body>
        <header>
            <nav>
                <a href="/">Хатинка</a>
                <a href="/about/">Про нас</a>
                <a href="/library/">Читальня</a>
            </nav>
        </header>
    
        <h1>Наша Читальня</h1>
        <p>This is where I will post about my journey learning Astro.</p>
    </body>
</html>