---
import Main from "../layouts/Main.astro";
import '../styles/global.css';


const allPosts = await Astro.glob('../pages/library/*.md');
const title = "Чайна Хатинка | Читальня";
---

<Main {title}>
    <main>
        <h1>Наша Читальня</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </main>
</Main>
