---
import BaseHead from "../components/BaseHead.astro";
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const title = "Чайна Хатинка | Читальня";
---

<html lang="uk">
	<BaseHead {title}/>
    <body>
        <header>
            <Navigation />
        </header>
        <main>
            <h1>Наша Читальня</h1>
            <p>This is where I will post about my journey learning Astro.</p>
            <ul>
                <li><a href="/library/the-eight-bowls/">Вісім чаш життя в чаї</a></li>
                <li><a href="/library/the-fivefold-essence/">П'ять складових сутности Чаю</a></li>
                <li><a href="/library/the-four-pillars/">Чотири стовпи цієї Традиції</a></li>
            </ul>
        </main>
    </body>
</html>