---
import Card from "../components/Card.astro";
import '../styles/global.css';
import Main from "../layouts/Main.astro";

const allTeas = await Astro.glob('../pages/teas/*.md');
const title = "Чайна Хатинка | Про наші чаї";
---

<Main {title}>
    <main>
        <h1>Про наші чаї</h1>
        <h2>...і трішечки начиння.</h2>
        <Card />    
    </main>
</Main>
