---
import Layout from '@layouts/MainLayout.astro';

import Header from '@partials/HeaderMain.astro';
import Footer from '@partials/FooterMain.astro';

import { Image } from 'astro:assets';
import Baisao from '@public/Baisao.jpg'

const pageTitle = 'Наша Традиція';
---

<Layout title={pageTitle}>
	<Header />

	<main class="py-12">
		<div class="container prose prose-lg">
      <h1>{pageTitle}</h1>
      <p>Нехай наш чайник гріється, а ми в цей час трохи поговоримо про наше товариство, школу й про те, що взагалі можна змалювати декількома словами – зовсім стисло, бо ніж щось про те розповідати, ми б радше запропонували вам чашку чаю, як зробив би це Байсао чи "Старий продавець чаю", як його ще називали...</p>
      <p><Image class='mt-0 mr-5 float-left' src={Baisao} alt="Baisao" />Байсао... Ким був той чайний мудрець вісімнадцятого століття, ясний дух якого й досі осяває нашу традицію яскравіше, ніж саме його ім'я?.. Майже все своє життя дзенський чорноризець, він у сорок дев'ять років проміняв усе разом зі своїм убранням на те, що, яким би дивним воно не здавалося, було більше сповнено Дзену – на життя продавця чаю при дорозі. Кожна його чаша була пройнята стародавнім неоціненним Духом Чаю, якого не торкалися ані гроші, ані теорії чи ритуали, ба навіть розум, як такий – Духом, що існував ще до того, як зірвали перше чайне листя. І ті, хто проходили повз його хатинку обабіч дороги, могли бачити тільки старого в дивному журавлиному вбранні прадавнього даоського самітника. Та Дух той здалеку вабив виблиском очей чи плавністю рухів рук, коли наливав він свій чай у затерті, потріскані чаші... Після такого чаю перехожий відходив звідти якимось зміненим, хоча, можливо, так і не збагнувши всю важливість того, що саме вплинуло на його світогляд. Свою ятку Байсао називав:</p>
      <q class="italic">Хатинка, що переносить вас до Мудрости (通聖亭&nbsp;Tong Shen Ting).</q>
      <p>Недоладний і невчасний, наче відродження прадавнього чайного мудреця, що мешкав у гірських лісах давно забутої місцини Китаю, він пропонував цілющі ковтки й краплі осяянь усім, хто зустрічався на його шляху.</p>
      <p>Цей Шлях Чаю, оскільки ми його відкриваємо чи створюємо наново (або він нас), спершу повинен ушановувати Природу, Небо й Землю, з невимовного центру яких зростають чайні дерева. Ідучи величезним старим гірським хребетом чайних мудрощів, ми також подорожуємо й тими стежками, що прокладали всі відомі й невідомі нам мудреці від чаю: ті, хто рано вранці ходив по вкритих хмаринами верховинах Китаю, хто віддалявся в лісові обителі чи ті, хто практикувалися в дзенському чаї в Японії і Кореї, так само як і в навичках Ґонфу чайних традицій південного Китаю. Власне кажучи, ми маємо низько вклонитися сучасним вчителям чаю з усього світу, і не стільки за збереження традиції і форми, скільки за дотримування і розповсюдження Духу Листя в ті часи й по цей день.</p>
      <p><strong>Як і Байсао, ми підтримуємо, розвиваємо та виявляємо усвідомлення Гармонії через чай, що зараз так необхідно в цьому бурхливому світі; і так само як і він, ми робимо це дуже просто, не вимагаючі нічого взаміну. Прошу, ось ваша чаша, за так...</strong></p>
      <p>Подібно до Байсао та інших мудреців, що були до нього, ми поставили свою метафоричну хатинку самітника тут, на узбіччі найдавнішого битого шляху, і пропонуємо те, що будь-який мудрець завжди пропонував: куточок спокою і втіхи, де можна заспокоїти себе й відпочити від мінливостей життя, а як буде потреба, то й трішечки священної мудрости, що зрощувалася серед тиші цього простору.</p>
    </div>
	</main>

	<Footer />
</Layout>
