---
import BaseHead from "../components/BaseHead.astro";
import Navigation from '../components/Navigation.astro';
import Card from "../components/Card.astro";
import '../styles/global.css';

const title = "Чайна Хатинка | Про нас";
---

<html lang="uk">
	<BaseHead {title}/>
    <body>
        <header>
            <Navigation />
        </header>
        <main>
            <h1>Про наші чаї</h1>
            <h2>...і трішечки начиння.</h2>
            <Card />    
        </main>
    </body>
</html>
