---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Наші чаї";
const containerMaxWidth = "900px";
---

<BaseLayout {pageTitle} >
	<Container {containerMaxWidth}>
	<h1>{pageTitle}</h1>
    <ul>
        <li><a href="/teas/2005-liubao/">"Лісовий чай із Ґвансі"</a></li>
        <li><a href="/teas/2017-ailao-dianhong-cake/">Млинець Дяньхона з Айлао</a></li>
        <li><a href="/teas/2021-ailao-sheng/">"Поза хмарами"</a></li>
    </ul>
	</Container>
</BaseLayout>
