---
import Layout from '@layouts/MainLayout.astro';

import Header from '@partials/HeaderMain.astro';
import Footer from '@partials/FooterMain.astro';
import TeaPost from '@partials/TeaPost.astro';

import { getCollection } from 'astro:content';

const teas = await getCollection('teas');
const pageTitle = 'Наші чаї';
---

<Layout title={pageTitle}>
	<Header />

	<main class='py-12'>
		<div class='container prose prose-lg'>
			<h1>{pageTitle}</h1>

			<ul class='not-prose grid gap-12'>
				{
					teas.map((tea) => (
						<li>
							<TeaPost props={tea} />
						</li>
					))
				}
			</ul>
		</div>
	</main>

	<Footer />
</Layout>
