---
const pageTitle = "Наші чаї";
---

<html lang="uk">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <nav>
			<a href="/">Хатинка</a>
			<a href="/teas/">Наші чаї</a>
			<a href="/library/">Читальня</a>
		</nav>
		<h1>{pageTitle}</h1>
        <ul>
            <li><a href="/teas/2005-liubao/">"Лісовий чай із Ґвансі"</a></li>
            <li><a href="/teas/2017-ailao-dianhong-cake/">Млинець Дяньхона з Айлао</a></li>
            <li><a href="/teas/2021-ailao-sheng/">"Поза хмарами"</a></li>
          </ul>
	</body>
</html>
