---
import Layout from '@layouts/MainLayout.astro';
import Header from '@partials/HeaderMain.astro';
import Footer from '@partials/FooterMain.astro';

import { Icon } from 'astro-icon';
---

<Layout title='divDevSpace' description='Space for devs'>
	<Header />

	<main class='flex justify-center'>
		<div class='container flex items-center justify-center'>
      
			<div data-id="modifier" class='accordion'>
				<details class="accordion__item">
					<summary class="accordion__title">Accordion item 1</summary>
					<div class='accordion__content'>
						<ol>
							<li>test one</li>
							<li>test two</li>
							<li>test three</li>
							<li>test four</li>
						</ol>
					</div>
				</details>
				<details class="accordion__item" open>
					<summary class="accordion__title">Accordion item 2</summary>
					<div class='accordion__content'>Accordion 2 content</div>
				</details>
				<details class="accordion__item">
					<summary class="accordion__title">Accordion item 3</summary>
					<div class='accordion__content'>Accordion 3 content</div>
				</details>
			</div>

			<!-- <form action='' method='' class='min-w-[320px] flex flex-col gap-10'>
				<fieldset data-ajax data-dev class='flex flex-col gap-7'>
					<div form-field aria-live='polite'>
						<label for='name'>Name</label>

						<div input-wrapper>
							<input
								type='text'
								name='name'
								id='name'
								placeholder='Name'
								data-required
								data-validate
								aria-required='true'
								aria-current='false'
								aria-errormessage='name-error'
							/>

							<small hidden data-error id='name-error' role='status'
								>Error text</small
							>
							<small hidden data-success role='status'>Success text</small>

							<Icon hidden data-error name='mdi:close-circle-outline' />
							<Icon hidden data-success name='mdi:check-circle-outline' />
						</div>
					</div>

					<div form-field aria-live='polite'>
						<label for='password'>Password</label>

						<div input-wrapper>
							<input
								type='password'
								name='password'
								id='password'
								placeholder='Password'
								data-required
								data-validate
								aria-required='true'
								aria-current='false'
								aria-errormessage='password-error'
							/>

							<small hidden data-error id='password-error' role='status'
								>Error text</small
							>
							<small hidden data-success role='status'>Success text</small>
							<button
								data-type-toggle
								type='button'
								role='switch'
								aria-label='Toggle password visibility'>
								<Icon name='mdi:eye-outline' />
							</button>
						</div>
					</div>

					<div form-field aria-live='polite'>
						<label for='phone'>Phone</label>

						<div input-wrapper>
							<input
								type='tel'
								id='phone'
								name='phone'
								placeholder='Phone'
								data-required
								data-validate
								aria-required='true'
								aria-current='false'
								aria-errormessage='phone-error'
							/>

							<small hidden data-error id='phone-error' role='status'
								>Error text</small
							>
							<small hidden data-success role='status'>Success text</small>

							<Icon hidden data-error name='mdi:close-circle-outline' />
							<Icon hidden data-success name='mdi:check-circle-outline' />
						</div>
					</div>

					<div form-field aria-live='polite'>
						<label for='email'>Email</label>

						<div input-wrapper>
							<input
								type='email'
								id='email'
								name='email'
								placeholder='Email'
								data-required='email'
								data-validate
								aria-required='true'
								aria-current='false'
								aria-errormessage='email-error'
							/>

							<small hidden data-error id='email-error' role='status'
								>Error text</small
							>
							<small hidden data-success role='status'>Success text</small>

							<Icon hidden data-error name='mdi:close-circle-outline' />
							<Icon hidden data-success name='mdi:check-circle-outline' />
						</div>
					</div>

					<div form-field aria-live='polite'>
						<label for='message'>Message</label>

						<div input-wrapper>
							<textarea
								id='message'
								name='message'
								placeholder='Message'
								data-autoheight='140, 280'
								data-required
								data-validate
								aria-required='true'
								aria-current='false'
								aria-errormessage='message-error'></textarea>

							<small hidden data-error id='message-error' role='status'
								>Error text</small
							>
							<small hidden data-success role='status'>Success text</small>
						</div>
					</div>
				</fieldset>

				<button
					type='submit'
					class='inline-flex min-h-[52px] items-center justify-center rounded-md bg-choco px-8 text-xl uppercase text-white transition-colors duration-300 hover:bg-lime-500 dark:bg-white dark:text-dark dark:hover:bg-lime-500 dark:hover:text-white'
					>Send</button
				>
			</form> -->
		</div>
	</main>

	<Footer />
</Layout>

<script>
	// import '@js/components/form-handler';
	import '@js/components/accordion';
</script>
