---
interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title = "Чайна Хатинка", description = "Чай, Ча Дао, чайна традиція, майстерність і церемонія ґунфу ча, чайна кульрура та чайний етикет — у всі ці теми Чайна Хатинка доволі глибоко занурюється на своїх сторінках.", image } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
</head>
