---

---

<div class="card">
    <img src="https://via.placeholder.com/150" alt="">
    <div class="content-container">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
</div>

<style>
	.card {
		max-width: 700px;
		display: grid;
		grid: "card-media card-content" / auto 1fr;
		margin: 5rem auto;
		box-shadow: 2px 1px 3px #0004, 0 0 2px #0003;
	}

    .card > img {
		height: 120px;
		aspect-ratio: 1/1;
	}

	.card > .content-container {
		padding: 1rem;
	}

	.card > .content-container h4 {
		font-size: 1.25rem;
	}

	.card > .content-container p {
		margin-top: 2px;
	}

    @media screen and (min-width: 640px) {
		.card > img {
			height: 150px;
			aspect-ratio: 16/9;
        }
	}
</style>