---
import { Image } from "astro:assets";
import TeaPicture from "../pages/teas/images/2018-ailao-dianhong-bing-square.jpg"
---

<div class="card">
    <Image src={TeaPicture} alt="Tea picture"/>
    <div class="content-container">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
</div>

<style>
	.card {
		max-width: 600px;
		display: grid;
		grid: "card-media card-content" / auto 2fr ;
		margin: 5rem auto;
		box-shadow: 2px 1px 3px #0004, 0 0 2px #0003;
	}

    .card > img {
		/* grid-area: card-media; */
		max-height: 120px;
		width: 100%;
		aspect-ratio: 1/1;
	}

	.card > .content-container {
		/* grid-area: card-content; */
		padding: 1rem;
	}

	.card > .content-container h4 {
		font-size: 1.25rem;
	}

	.card > .content-container p {
		margin-top: 2px;
		text-indent: 0;
	}

    @media screen and (min-width: 640px) {
		.card > img {
			max-height: 180px;
        }
	}
</style>