---
import Social from "../components/Social.astro";

const dateNow = new Date().getFullYear().toString();
---

<footer>
    <Social />          
    <p class="copyright">&copy; TEAHUT.COM.UA
        <span class="date">2014 - {dateNow}</span></p>
    <p class="copyright">All rights reserved.</p>
</footer> 

<style>
    .copyright {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
    }
</style>