---
import Container from "./Container.astro";
import SocialList from './SocialList.astro';
const containerMaxWidth = "900px"
---

<footer>
  <Container {containerMaxWidth}>
    <div class="footer-links__grid">
      <ul>
        <li><strong>Чайна Хатинка</strong></li>
        <li>Наша Традиція</li>
        <li>Про нас</li>
      </ul>
      <ul>
        <li><strong>Крамничка</strong></li>
        <li>Про нашу крамничку</li>
        <li>Як замовити?</li>
      </ul>
      <ul>
        <li><strong>Читальня</strong></li>
        <li>Статті</li>
        <li>Поради щодо заварювання</li>
      </ul>
    </div>
    <div class="footer-bottom__container">
      <p>&copy; 2014-{new Date().getFullYear()} TEAHUT.COM.UA</p>
      <SocialList />
    </div>
  </Container>
</footer>

<style>
  footer {
    position: relative;
    min-height: 200px;
    background-color: var(--theme-footer-background);
    color: var(--theme-on-footer-background);
  }
  .footer-links__grid {
    padding: 10vh 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .footer-links__grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-links__grid ul li:first-of-type {
    margin-bottom: 0.5rem;
  }
  .footer-links__grid ul li strong {
    font-weight: 900;
  }
  .footer-bottom__container {
    position: relative;
    bottom: 0;
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--step--2);
  }

  [astro-icon] {
        color: blue;
        /* OR */
        fill: blue;
    }
    [astro-icon="annotation"] {
        color: red;
        /* OR */
        fill: red;
    }

  @media(max-width: 636px) {
    .footer-links__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media(max-width: 480px) {
    .footer-links__grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    .footer-bottom__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
</style>
