---
import Social from "../components/Social.astro";

const dateNow = new Date().getFullYear().toString();
---

<footer>
    <Social />          
    <div class="copyrights">
        <small>
            &copy; TEAHUT.COM.UA <span>{dateNow}</span> |
            All rights reserved
        </small>
    </div>
</footer> 

<style>
    footer {
        margin: 2rem 0 1rem;
    }
    .copyrights {
        display: flex;
        justify-content: center;
    }

    br {
        display: none;
    }
</style>