---
import Container from './Container.astro';
import Logo from './Logo.astro';
import ThemeIcon from './ThemeIcon.astro';

const containerMaxWidth = "920px";
---

<Container {containerMaxWidth}>
    <nav class="navigation" aria-label="Primary">
        <a class="header-logo" href="/" aria-label="На Головну сторінку">
            <Logo />
        </a>
        <a class="home-link link" href="/">Хатинка</a>
        <a class="teas-link link" href="/teas/">Наші чаї</a>
        <a class="library-link link" href="/library/">Читальня</a>
        <div class="toggle-btn link">
            <ThemeIcon />
        </div>
        <label class="hamburger-menu">
            <input type="checkbox" />           
        </label>
    </nav>
</Container>

<style>
    :root {
        --bar-width: 30px;
        --bar-height: 4px;
        --hamburger-gap: 3px;
        --foreground: var(--choco-12);
        --background: var(--orange-1);
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .navigation {
        height: 56px;
        background-color: var(--foreground);
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 56px 1fr 56px;
        grid-auto-rows: 56px;
        grid-template-areas: 
        "logo link1 hamburger"
        ". link2 ."
        ". link3 ."
        ". toggle .";
        align-items: center;
        justify-items: center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }
    
    .header-logo {
        grid-area: logo;
        margin: 0;
        padding: .45rem;
        height: inherit;
        max-width: 70px;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--foreground);
        border-radius: 1rem;
        background-color: var(--background);
    }

    .link {
        display: none;
        grid-area: link;
        color: var(--foreground);
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .home-link {
        grid-area: link1;
    }

    .teas-link {
        grid-area: link2;
    }

    .library-link {
        grid-area: link3;
    }

    .toggle-btn {
        grid-area: toggle;
    }

    .link:hover,
    .link:active {
        /* background-color: var(--foreground);
        color: var(--background);
        fill: var(--background); */
        transform: scale(1.1);
    }

    .navigation:has(input:checked) {
        height: 100%;
        background-color: var(--background);
    }

    .navigation:has(input:checked) > .link {
        display: block;
    }

    .navigation:has(input:checked) > .header-logo {
        border: none;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        grid-area: hamburger;
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        top: 35px;
        right: 35px;
     }

    .hamburger-menu:has(input:checked) {
        --foreground: var(--background);
        --background: var(--choco-12);
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    @media screen and (min-width: 636px) {
        .hamburger-menu {
            display: none;
        }

        .navigation {
            grid-template-columns: 56px 3% repeat(3, auto) 35% 56px;
            grid-template-areas:
            "logo . link1 link2 link3 . toggle";
        }

        .link {
            display: flex;
            padding: 0;
            color: var(--background);
        }
    }
</style>
