<footer class='pt-16 pb-8 bg-choco text-lg'>
	<div class='container'>
		<div class='flex flex-col gap-[108px]'>
			<nav class="grid grid-cols-4 gap-4">
				<figure class="flex flex-col gap-2">
					<a class="font-black text-yellow-3" href='#'>Чайна Хатинка</a>

					<figcaption>
						<ul>
							<li><a href='#'>Наша Традиція</a></li>
							<li><a href='#'>Про нас</a></li>
						</ul>
					</figcaption>
				</figure>

				<figure class="flex flex-col gap-2">
					<a class="font-black text-yellow-3" href='#'>Крамничка</a>

					<figcaption>
						<ul>
							<li><a href='#'>Про нашу крамничку</a></li>
							<li><a href='#'>Як замовити?</a></li>
							<li><a href='#'>Чайні маркування</a></li>
						</ul>
					</figcaption>
				</figure>

				<figure class="flex flex-col gap-2">
					<a class="font-black text-yellow-3" href='#'>Читальня</a>

					<figcaption>
						<ul>
							<li><a href='#'>Статті</a></li>
							<li><a href='#'>Поради щодо заварювання</a></li>
						</ul>
					</figcaption>
				</figure>
			</nav>

			<div class='flex items-center justify-between'>
				<span>© 2014-2023 TEAHUT.COM.UA</span>

				<ul class='flex items-center gap-4' data-astro-cid-jlutx6lj=''>
					<li>
						<a
							href='tel:+380507355445'
							class='icon'
							aria-label='Phone'
							rel='noopener'
							data-astro-cid-jlutx6lj=''>
							<svg
								viewBox='0 0 24 24'
								width='24'
								height='24'
								data-astro-cid-jlutx6lj=''
								astro-icon='ri:phone-fill'
								><path
									fill='currentColor'
									d='M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z'
								></path></svg
							>
						</a>
					</li>
					<li>
						<a
							href='mailto:hutofsato@gmail.com'
							class='icon'
							aria-label='Email'
							rel='noopener'
							data-astro-cid-jlutx6lj=''>
							<svg
								viewBox='0 0 24 24'
								width='24'
								height='24'
								data-astro-cid-jlutx6lj=''
								astro-icon='fontisto:email'
								><path
									fill='currentColor'
									d='m16.484 11.976 6.151-5.344v10.627zm-7.926.905 2.16 1.875c.339.288.781.462 1.264.462h.017-.001.014c.484 0 .926-.175 1.269-.465l-.003.002 2.16-1.875 6.566 5.639H1.995zM1.986 5.365h20.03l-9.621 8.356a.612.612 0 0 1-.38.132h-.014.001-.014a.61.61 0 0 1-.381-.133l.001.001zm-.621 1.266 6.15 5.344-6.15 5.28zm21.6-2.441c-.24-.12-.522-.19-.821-.19H1.859a1.87 1.87 0 0 0-.835.197l.011-.005A1.856 1.856 0 0 0 0 5.855v12.172a1.86 1.86 0 0 0 1.858 1.858h20.283a1.86 1.86 0 0 0 1.858-1.858V5.855c0-.727-.419-1.357-1.029-1.66l-.011-.005z'
								></path>
							</svg></a
						>
					</li>
					<li>
						<a
							href='https://www.facebook.com/teahut.com.ua'
							class='icon'
							aria-label='Facebook'
							rel='noopener'
							data-astro-cid-jlutx6lj=''>
							<svg
								viewBox='0 0 24 24'
								width='24'
								height='24'
								data-astro-cid-jlutx6lj=''
								astro-icon='ic:round-facebook'
								><path
									fill='currentColor'
									d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z'
								></path></svg
							>
						</a>
					</li>
					<li>
						<a
							href='https://www.instagram.com/teahut.com.ua'
							class='icon'
							aria-label='Instagram'
							rel='noopener'
							data-astro-cid-jlutx6lj=''
							><svg
								viewBox='0 0 24 24'
								width='24'
								height='24'
								data-astro-cid-jlutx6lj=''
								astro-icon='ri:instagram-line'
								><path
									fill='currentColor'
									d='M12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm6.5-.25a1.25 1.25 0 0 1-2.5 0 1.25 1.25 0 0 1 2.5 0zM12 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703 2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.006 9.075 4 9.461 4 12c0 2.474.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.474 0 2.878-.007 4.029-.058.782-.037 1.309-.142 1.797-.331a2.92 2.92 0 0 0 1.08-.702c.337-.337.538-.65.704-1.08.19-.493.296-1.02.332-1.8.052-1.104.058-1.49.058-4.029 0-2.474-.007-2.878-.058-4.029-.037-.782-.142-1.31-.332-1.798a2.911 2.911 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.925 4.006 14.539 4 12 4zm0-2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2z'
								></path></svg
							>
						</a>
					</li>
					<li>
						<a
							href='https://t.me/hutofsato'
							class='icon'
							aria-label='Telegram'
							rel='noopener'
							data-astro-cid-jlutx6lj=''
							><svg
								viewBox='0 0 24 24'
								width='24'
								height='24'
								data-astro-cid-jlutx6lj=''
								astro-icon='ic:round-telegram'
								><path
									fill='currentColor'
									d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19-.14.75-.42 1-.68 1.03-.58.05-1.02-.38-1.58-.75-.88-.58-1.38-.94-2.23-1.5-.99-.65-.35-1.01.22-1.59.15-.15 2.71-2.48 2.76-2.69a.2.2 0 0 0-.05-.18c-.06-.05-.14-.03-.21-.02-.09.02-1.49.95-4.22 2.79-.4.27-.76.41-1.08.4-.36-.01-1.04-.2-1.55-.37-.63-.2-1.12-.31-1.08-.66.02-.18.27-.36.74-.55 2.92-1.27 4.86-2.11 5.83-2.51 2.78-1.16 3.35-1.36 3.73-1.36.08 0 .27.02.39.12.1.08.13.19.14.27-.01.06.01.24 0 .38z'
								></path>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
