---
import { Icon } from 'astro-icon';
---

<footer class='pt-16 pb-8 bg-choco text-lg'>
	<div class='container'>
		<div class='flex flex-col gap-[108px]'>
			<nav class="grid grid-cols-4 gap-4">
				<figure class="flex flex-col items-start gap-2">
					<a class="font-black text-yellow-3" href='#'>Чайна Хатинка</a>

					<figcaption>
						<ul>
							<li><a href='/our-tradition'>Наша Традиція</a></li>
							<li><a href='/about'>Про нас</a></li>
						</ul>
					</figcaption>
				</figure>

				<figure class="flex flex-col items-start gap-2">
					<a class="font-black text-yellow-3" href='#'>Крамничка</a>

					<figcaption>
						<ul>
							<li><a href='#'>Про нашу крамничку</a></li>
							<li><a href='#'>Як замовити?</a></li>
							<li><a href='#'>Чайні маркування</a></li>
						</ul>
					</figcaption>
				</figure>

				<figure class="flex flex-col items-start gap-2">
					<a class="font-black text-yellow-3" href='#'>Читальня</a>

					<figcaption>
						<ul>
							<li><a href='#'>Статті</a></li>
							<li><a href='#'>Поради щодо заварювання</a></li>
						</ul>
					</figcaption>
				</figure>
			</nav>

			<div class='flex items-center justify-between'>
				<span>© 2014-2023 TEAHUT.COM.UA</span>

				<ul class='flex items-center gap-4' data-astro-cid-jlutx6lj=''>
					<li>
						<a href="tel:+380507355445" class="block opacity-90 hover:opacity-100 hover:rotate-[7deg] hover:text-yellow-5 transition" aria-label="Telephone" rel="noopener">
              <Icon name="ri:phone-fill" width="24" height="24" />
            </a>
					</li>

					<li>
						<a href="mailto:hutofsato@gmail.com" class="block opacity-90 hover:opacity-100 hover:rotate-[7deg] hover:text-yellow-5 transition" aria-label="Email" rel="noopener">
              <Icon name="fontisto:email" width="24" height="24" />
            </a>
					</li>

					<li>
						<a href="https://www.facebook.com/teahut.com.ua" class="block opacity-90 hover:opacity-100 hover:rotate-[7deg] hover:text-yellow-5 transition" aria-label="Facebook" rel="noopener">
              <Icon name="ic:round-facebook" width="24" height="24" />
            </a>
					</li>

					<li>
						<a href="https://www.instagram.com/teahut.com.ua" class="block opacity-90 hover:opacity-100 hover:rotate-[7deg] hover:text-yellow-5 transition" aria-label="Instagram" rel="noopener">
              <Icon name="ri:instagram-line" width="24" height="24" />
            </svg>
            </a>
					</li>

					<li>
						<a href="https://t.me/hutofsato" class="block opacity-90 hover:opacity-100 hover:rotate-[7deg] hover:text-yellow-5 transition" aria-label="Telegram" rel="noopener">
              <Icon name="ic:round-telegram" width="24" height="24" />
            </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>