---
const { title, description } = Astro.props;
---

<head>
	<meta charset='UTF-8' />
	<meta name='description' content='Astro description' />
	<meta name='viewport' content='width=device-width' />
	<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	<meta name='generator' content={Astro.generator} />
	<meta name='description' content={description} />
	<title>{title}</title>

  <link href="https://fonts.googleapis.com/css?family=Rubik+Glitch:regular&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap" rel="stylesheet" />

	<script src='../js/script.js'></script>
  
</head>
